.button {
  background-color: #09223b;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;

  font-weight: 400;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 30px;
  text-align: center;
  touch-action: manipulation;
  font-size: 15px;

  &:active {
    background: #09223b;
    color: rgb(255, 255, 255, 0.7);
  }

  // &:disabled {
  //   cursor: not-allowed;
  //   background: rgba(0, 0, 0, .08);
  //   color: rgba(0, 0, 0, .3);
  // }
}

@media screen and (max-width: 750px) {
  .button {
    width: 100px;
    height: 30px;
  }
}
